@charset "UTF-8";
/* Media Queries */
@media (max-width: 575px) {
  .envio_sincargo {
    background-color: #8B0000;
    text-align: center;
    color: white; }
  .logo {
    width: 40px; }
  .nav_title {
    display: flex;
    flex-direction: row;
    margin-left: 0.2rem;
    align-items: flex-end; }
  /*Contenido principal*/
  .seccion_destacados {
    margin-top: 2rem; }
  .sub_Contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .titulo_destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
    background-color: #8B0000;
    color: white;
    padding: 1rem;
    margin-bottom: 1.3rem; }
  .beneficios {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .beneficios_esquema {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
  .beneficios_alineacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .article_transformate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #8B0000;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center; }
  /*css footer*/
  .footer_contenedor {
    background-color: #8B0000;
    border: 1px solid white;
    border-radius: 1rem;
    color: white; }
  .menu_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .horarios {
    text-align: center; }
  .menufooter_lista_items {
    padding: 0.2rem;
    margin-top: 0.5rem;
    list-style-type: none;
    text-align: center;
    background-color: white; }
  .menufooter_lista_items_a {
    text-decoration: none;
    color: black; }
  .redesypagos {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .redes_iconos {
    text-align: center; }
  .footercopyright {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  /* paginas*/
  .imagen_nosotros {
    width: 15rem; }
  .margenes_paginas {
    margin-top: 4rem;
    margin-bottom: 4rem; } }

/* Pantallas de 576px de ancho o más */
/* Pantallas de 768px de ancho o más */
/* Pantallas de 992px de ancho o más */
/* Pantallas de 1200px de ancho o más */
@media (min-width: 1200px) {
  /*header*/
  .envio_sincargo {
    background-color: #8B0000;
    text-align: center;
    color: white; }
  .red_wsp {
    display: inline-block;
    position: fixed;
    left: 97%;
    top: 1%; }
  .logo {
    width: 50px;
    margin-right: 0.3rem; }
  .nav_title {
    display: flex;
    flex-direction: row;
    margin-left: 0.2rem;
    align-items: flex-end; }
  /*Contenido Principal*/
  .seccion_destacados {
    margin-top: 2rem; }
  .sub_Contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s; }
  .sub_Contenedor:hover {
    transform: scale(1.1); }
  .titulo_destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5rem;
    margin-left: 5rem;
    border: 1px solid white;
    border-radius: 1rem;
    background-color: #8B0000;
    color: white;
    padding: 1rem;
    margin-bottom: 1.3rem; }
  .beneficios {
    margin-top: 3rem;
    margin-bottom: 5rem; }
  .beneficios_esquema {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
  .beneficios_alineacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .article_transformate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5rem;
    margin-left: 5rem;
    border: 1px solid #8B0000;
    border-radius: 1rem;
    padding: 1rem; }
  .cuotas {
    background-color: #85f585;
    padding: 1rem;
    border-radius: 1rem; }
  .envio {
    background-color: #f5c773;
    padding: 1rem;
    border-radius: 1rem; }
  .descuentos {
    background-color: #cc6826;
    padding: 1rem;
    border-radius: 1rem; }
  /* footer*/
  .footer_contenedor {
    margin-top: 2rem;
    background-color: #8B0000;
    border: 1px solid white;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    color: white; }
  .menufooter_lista {
    display: flex;
    flex-direction: row;
    padding: 0.5rem; }
  .menufooter_lista_items {
    list-style-type: none;
    margin-left: 0.2rem;
    padding: 0.2rem; }
  .menufooter_lista_items_a {
    text-decoration: none;
    color: white;
    padding: 0.2rem;
    transition: all 1s; }
  .menufooter_lista_items:hover {
    transform: scale(1.2); }
  .horarios {
    margin-left: 1rem; }
  .redesypagos {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
  .redes_iconos {
    text-align: center; }
  .footercopyright {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  /* paginas*/
  .imagen_nosotros {
    width: 15rem; }
  .margenes_paginas {
    margin-top: 4rem;
    margin-bottom: 4rem; } }
